Source: pika-i915-config
Section: graphics
Priority: optional
Maintainer: Ward Nakchbandi <hotrod.master@hotmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no

Package: pika-i915-config
Architecture: all
Provides: intel-i915-dkms (= ${binary:Version})
Description: PikaOS configration for Intel GPUs.
